<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Shoe store</title>
</head>
<body>
    <div class='container'>
        {% block header %}
            <h2><a href='/'>PDX Shoe Stores</a></h2>
            <br>
            <bt>
        {% endblock %}

        {% block page %}
        {% endblock %}

        {% block footer %}
            <br>
            <br>
            <bt>
            <footer>Created by <a href="https://github.com/uturunku1">Stella Huayhuaca</a></footer>
        {% endblock %}
    </div>
</body>
</html>
